.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  > div:first-of-type, > a {
    @include paginationButtons();
  }

  &__limits {
    margin: 1rem;

    > span {
      margin-right: 1rem;
    }
  }
}
